body{
    margin: 0;
    padding: 0;
    
}

h3{
    text-align: center;
}
header{
 padding: 30px;
 height: 40px;
 background-color: #011627;
 color: white;
}
.sidebar{
    width: 150px;
    background-color:#011627 ;
    height: 95vh;
    padding: 0 30px;
    position: absolute;
    transition: all 0.5s;
    left: -100%;
}
.sidebar.active{
    left: 0;
}
header svg{
    font-size: 40px;
}
.content{
    
    flex-grow: 1;
}

